#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url(../src/assets/background.jpg) !important;
  background-repeat: no-repeat !important;
  background-position: 0 0 !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
body {
  background-color: rgb(94, 86, 97);
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.cardh {
  border: 0px !important;
}

.navbarh {
  border-radius: 5px !important;
  color: red, importat !important;
}

#icons {
  font-family: Roboto, sans-serif;
  font-size: 16pt;
  font-weight: 400;
  transition: 0.5s;
  color: var(--bs-border-color);
}

#icons:hover {
  color: var(--bs-card-color);
  transition: 0.5s;
}

#legal {
  font-style: italic;
  font-size: 8pt;
}

a:link,
a:visited {
  text-decoration: none !important;
  color: var(--bs-card-color);
}

#bpheader {
  margin-top: -15px;
}

#advmode {
  padding: 2px;
  width: 138px;
  height: 38px;
}

.cards {
  padding: 10px;
  border-radius: 5px;
  border-color: var(--bs-border-color);
  border-style: solid;
  height: 100%;
  border-width: 1px;
  z-index: 1;
  transition: 0.5s;
}

.cards:hover {
  border-color: var(--bs-card-color);
  transition: 0.5s;
}

.cardsbg {
  height: 100%;
  width: 100%;
  z-index: -1;
}

#blueprintHeader {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  border-radius: 5px;
  border-color: var(--bs-border-color);
  border-style: solid;
  width: 100%;
  border-width: 1px;
  margin-bottom: 15px;
  font-size: var(--bs-body-font-size);
  padding: 15px;
}

#topcard {
  border-bottom: 1px solid;
  border-color: var(--bs-border-color);
  padding: 5px;
}

.gnomatrie {
}

img,
svg {
  border-radius: 3px !important;
}

#button-top {
  width: 140px !important;
}

#gnomorocks {
  width: 150px;
}

#hukurocks {
  text-align: left;
}

#stats {
}

#statsp {
  margin-bottom: -2px;
}

#pinkrainbow {
  margin-bottom: 20px;
  font-size: 20px;
}

#menuleft {
  background-color: rgba(var(--bs-body-color-rgb), 0.03) !important;
  padding: 15px;
  border-radius: 5px;
}

#bruh {
  margin-top: 10px;
}

#root {
}

#HukuBartopolos {
  background-color: var(--bs-body-bg);
  padding: 15px;
  border-radius: 15px;
  font-size: var(--bs-body-font-size);
}

#HukuBartopolos {
  background-color: var(--bs-body-bg);
  padding: 15px;
  border-radius: 15px;
}

#AletaOceans {
  font-size: 0.75rem;
}

.col-9 {
  width: 80% !important;
}

td {
  vertical-align: middle !important;
}

th {
  vertical-align: middle !important;
}

/*TD sizing*/
#facktax {
  width: 75px;
}
#facksystem {
  width: 80px;
}
#fackbpme {
  width: 65px;
}
#fackbuilding {
  width: 95px;
}
#fackrig {
  width: 75px;
}
#facksystem {
  width: 100px;
}
#facktax {
  width: 65px;
}

input,
optgroup,
select,
textarea {
  font-size: 0.75rem !important;
}
